#wrapper{
/*  border:5px solid red;*/
}
#wrapper>*{
/*  border:5px solid green;*/
}
#wrapper>*>*{
/*  border:5px solid blue;*/
}
body{
  background-image: url(../../images/bg.jpg);
  background-size:cover;
  font-family: 'Source Sans Pro', sans-serif;
}
#wrapper{
  max-width:68rem;
  margin:0 auto;
}
#header{
  text-align: center;
  padding-top:2rem;
  padding-bottom: 6rem;
}
#header .avatar {
  border-radius: 100%;
  display:inline-block;
  padding:0.5rem;
  background-color: rgba(255,255,255,0.05);
  border:1px solid rgba(255,255,255,0.25);
  margin: 2rem 0;
}
#header .avatar img{
  border-radius: 100%;
  display:block;
}
#header h1{
  font-size:1.8rem;
  color:rgba(255,255,255,0.5);
  font-weight: 200;
  margin-bottom: 1.5rem;
  line-height: 2.3rem;
}
#header h1 strong{
  color:white;
  font-weight: 200;
}
#header h1 a{
  color:rgba(255,255,255,0.5);
  text-decoration: none;
  border-bottom:1px dotted rgba(255,255,255,0.5);
}
#header ul.icons li{
  display: inline-block;
  border-radius: 100%;
  border:1px solid rgba(255,255,255,0.25);
  background-color: rgba(255,255,255,0.05);
  width:3rem;
  height:3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right:1rem;
}
#header ul.icons li:hover{
  border:1px solid rgba(255,255,255,0.25);
  background-color: rgba(255,255,255,0.2);
}
#header ul.icons li a{
  color:rgba(255,255,255,0.5);
  text-decoration: none;
}
#header ul.icons li a:before{
  font-size:1.5rem;
}
#header ul.icons li .label{
  display: none;
}
#main .thumbnails {
  display: flex;
}
#main .thumbnails>div{
  flex-grow: 1;
  margin-right:1rem;
  margin-left:1rem;
}
#main .thumbnails a{
  margin-bottom: 1.5rem;
  display: block;
}
#main .thumbnails img{
  width:100%;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  display: block;
}
#main .thumbnails h3{
  border-left:1px solid rgba(255,255,255,0.3);
  border-right:1px solid rgba(255,255,255,0.3);
  border-bottom:1px solid rgba(255,255,255,0.3);
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  padding:1rem;
  text-align: center;
  background-color: rgba(255,255,255,0.1);
  color:white;
  font-size:0.8rem;
  font-weight: 200;
}
#footer{
  text-align: center;
  color:rgba(255,255,255,0.5);
  font-weight: 200;
  padding-bottom: 3rem;
  font-size:0.8rem;
}
#footer a{
  color:rgba(255,255,255,0.5);
  text-decoration: none;
  border-bottom: 1px dotted rgba(255,255,255,0.5);
}
#footer:before{
  content:'';
  display: block;
  margin:2rem auto;
  width:10rem;
  border-top:1px solid rgba(255,255,255,0.2);
  margin-bottom:3rem;
}
@media(max-width:480px){
  #main .thumbnails {
    display: block;
  }
}

    /* navigation and dropdown */
    nav ul {
                width: 100%;
                background-color: rgba(44, 42, 39, 0.983);
                list-style-type: none;
                /* 마진 패딩 지정하지 않으면 브라우저 기본 스타일을 따라 설정되므로 오버라이딩 필요 */
                margin: 0;
                padding: 0;
            }
            /* li 는 블록요소인데 inline-block 으로 인라인속성 부여해서 나란히 배치*/
            nav ul li {
                display: inline-block;
            }
            
            .home {
                background-color: darkorange;
                width: 100px;
                text-align: center;
                font-weight: bold;
                float: right;
            }

            .home a {
                display: block;
                text-decoration: none;
                color: white;
                padding: 16px 16px;
            }

            .dropdown {
                position: relative;
            }

            .dropdown-menu {
                /*background-color: darkorange; */
                color: white;
                padding: 16px;
                font-size: 16px;
                cursor: pointer;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

            /* dropdown-menu 에는 hover 적용이 안됨 */
            .dropdown:hover .dropdown-content {
                display: block;
            }

            .dropdown-content a:hover {background-color: #f1f1f1}

            .dropdown-menu:hover:not(.home){
                background-color: darkorange;
                color: white;
            }

    /* End-navigation and dropdown */


    /* Create two unequal columns that floats next to each other */
    /* Left column */
    .leftcolumn {
        float: left;
        width: 75%;
    }

    /* Right column */
    .rightcolumn {
        float: left;
        width: 25%;
        padding-left: 20px;
    }

    /* Fake image */
    .fakeimg {
        background-color: rgb(228, 216, 216);
        width: 100%;
        padding: 20px;
    }


    /* Clear floats after the columns */
    .contents:after {
        content: "";
        display: table;
        clear: both;
    }


    /* 반응형 웹 설정, 폭이 600px 이하인 경우 적용 */
    @media screen and (max-width: 600px) {
        .leftcolumn, .rightcolumn {
            width: 100%;
            padding: 0;
        }
    }

    /* 반응형 웹 설정, 폭이 400px 이하인 경우 적용 */
    @media screen and (max-width: 400px) {
      nav {
          display: none;
      }
    }
h2 {
  font-family: 'Arial';
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  line-height: 0.75;
}

span{
  display: block;
}

span:not(.light) {
  opacity: 0;
  animation: flashText .5s ease-out alternate infinite;
}

span.light {
  position: relative;
  display: inline-block;
  
  &:before {
    position: absolute;
    left: 0;
    top: -10%;
    width: 100%;
    height: 120%;
    background: #fff;
    filter: blur(10px);
    content: "";
    opacity: 0;
    animation: flash .5s ease-out alternate infinite;
  }
}

@keyframes flash{
  to {
    opacity: 1;
  }
}

@keyframes flashText {
  to {
    opacity: 0.15;
  }
}

* {
  margin: 0;
  padding: 0;
}


h1 {
  text-align: center;
}

.video {
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
  border-radius: 30px;
  background-color: #f0f0f0;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0px 8px 33px #999;
}

.video-container {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 50%;
}

iframe {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

body
{
  background-color:#eee
}
.wrap
{
  margin:50px auto 0 auto;
  width:100%;
  display:flex;
  align-items:space-around;
  max-width:1200px;
}
.tile
{
  width:380px;
  height:380px;
  margin:10px;
  background-color: rgba(255,255,255,0);
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Roboto';
  
}
.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
  height:calc(100% - 60px);
}
.tile h1
{
 
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tile h2
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
.tile p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}
.dots
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  
}

.dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
 
}

.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}


@media (max-width: 1000px) {
  .wrap {
   flex-direction: column;
    width:400px;
  }
}

.a_style {
 color: red;
 text-decoration: none;
 transition: 1s;
 text-shadow: 0 0 .1em, 0 0 .3em;
}

.a2_style {
  color: white;
  text-decoration: none;
  transition: 1s;
  text-shadow: 0 0 .1em, 0 0 .3em;
}
.a3_style {
  color: #C35817;
  text-decoration: none;
  transition: 1s;
  text-shadow: 0 0 .1em, 0 0 .3em;
}
.a4_style {
  color: #736F6E;
  text-decoration: none;
  transition: 1s;
  text-shadow: 0 0 .1em, 0 0 .3em;
}
